<p>Добро пожаловать <%= @resource.email %>!</p>

<p>Вы можете подтвердить вашу учетную запись электронной почты по ссылке ниже:</p>

<p><%= link_to 'Подверждение учетной записи', confirmation_url(@resource, :confirmation_token => @resource.confirmation_token) %></p>
